.navbar {
    margin-bottom: 50px;
    background-color: #000000;
    font-size: 16px;
    letter-spacing: 4px;
    font-weight: bold;
    padding-left: 5%;
    opacity: 0.9;
}

.carousel-inner img {
    width: 100%;
    /* Set width to 100% */
    margin: auto;
}

.carousel-caption h3 {
    color: #fff !important;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
}

#about {
    padding: 60px 50px;
}

.jumbotron {
    background-color: #a811db;
    color: white;
    margin-top: 50px;
}

#DK {
    color: #000000;
    background-color: white;
    padding-bottom: 6px;
}

#AR {
    background-color: aliceblue;
    color: #000000;
    padding-bottom: 6px;
}

#myCarousel {
    margin-top: 50px;
}

#TN {
    color: #000000;
    background-color: white;
    padding-bottom: 6px;
}

#dan {
    background-color: aliceblue;
    color: #000000;
    padding-bottom: 6px;
}

.footer {
    min-height: 50px;
    background-color: #0f0f0f;
    color: lightslategrey;
    text-align: left;
    height: 1px;
    padding-top: 3px;
    padding-left: 10px;
}