.jumbotron {
    background-color: #a811db;
    color: white;
    margin-top: 50px;
}

.btn {
    margin-left: 10px;

}

#shift{
    margin-left: 2%;
    margin-top: 2%;
}

#second{
    margin-left: 2%;
    margin-top: 2%;
}

#more{
margin-top: 2%;
}

#more1{
    margin-top: 2%;
}

.navbar {
    margin-bottom: 50px;
    background-color: #000000;
    font-size: 16px;
    letter-spacing: 4px;
    font-weight: bold;
    padding-left: 5%;
    opacity: 0.9;
}

.navbar #theatre {
    margin-top: 6px;
}

.navbar #standard {
    margin-top: 6px;
}

.footer {
    min-height: 50px;
    background-color: #0f0f0f;
    color: lightslategrey;
    text-align: left;
    height: 1px;
    padding-top: 3px;
    padding-left: 10px;
}


@media screen and (min-width: 0px) and (max-width: 1000px) {
    #content {
        display: none;
    }
    /* hide it on small screens */
}

@media screen and (min-width: 1000px) and (max-width: 1125px) {
    #content {
        display: block;
    }
    /* show it elsewhere */
}

@media screen and (min-width: 0px) and (max-width: 1000px) {
    #standard {
        display: none;
    }
    /* hide it on small screens */
}

@media screen and (min-width: 1000px) and (max-width: 1125px) {
    #standard {
        display: block;
    }
    /* show it elsewhere */
}

@media screen and (min-width: 0px) and (max-width: 1000px) {
    #theatre {
        display: none;
    }
    /* hide it on small screens */
}

@media screen and (min-width: 1000px) and (max-width: 1125px) {
    #theatre {
        display: block;
    }
    /* show it elsewhere */
}

#newsletter{

    margin-left: 45%;
}