body {
    background-color: #0f0f0f;
}

.navbar button {
    margin-top: 5%;
}

.jumbotron {
    background-color: #0f0f0f;
    color: #0f0f0f;
}

.container-fluid {
    color: #0f0f0f;
}

.btn {
    margin-left: 10px;
}

.navbar {
    margin-bottom: 0;
    background-color: #000000;
    font-size: 16px;
    letter-spacing: 4px;
    font-weight: bold;
    padding-left: 5%;
}

@media screen and (min-width: 0px) and (max-width: 1000px) {
    #content {
        display: none;
    }
    /* hide it on small screens */
}

@media screen and (min-width: 1000px) and (max-width: 1125px) {
    #content {
        display: block;
    }
    /* show it elsewhere */
}

@media screen and (min-width: 0px) and (max-width: 1000px) {
    #standard {
        display: none;
    }
    /* hide it on small screens */
}

@media screen and (min-width: 1000px) and (max-width: 1125px) {
    #standard {
        display: block;
    }
    /* show it elsewhere */
}

@media screen and (min-width: 0px) and (max-width: 1000px) {
    #theatre {
        display: none;
    }
    /* hide it on small screens */
}

@media screen and (min-width: 1000px) and (max-width: 1125px) {
    #theatre {
        display: block;
    }
    /* show it elsewhere */
}