body{

    font-family: sans-serif;
    font-weight: 100;
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
}

.navbar{
    margin-bottom: 0;
    background-color: #000000;
    font-size: 16px;
    letter-spacing: 4px;
    font-weight: bold;
    padding-left: 5%;
    opacity: 0.9;
    text-align: left;
}

h1{
    color: black;
    font-weight: 100;
    font-size: 40px;
    margin: 40px 0px 20px;
}

#clockdiv{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
    align-content: center;

}

#clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background: grey;
    display: inline-block;
}

#clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: darkblue;
    display: inline-block;
}

#clockdiv h3{
    color: black;
}

.smalltext{
    padding-top: 5px;
    font-size: 16px;
}


.footer {
    min-height: 50px;
    background-color: #0f0f0f;
    color: lightslategrey;
    text-align: left;
    height: 1px;
    padding-top: 3px;
    padding-left: 10px;
}

.container-fluid{

}
